form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form > div {
  background-color: #fefefe;
  box-shadow: 2px 2px 5px 1px #ddd;
  border-radius: 1.5rem;
  padding: 2rem;
}

input {
  padding: 0.15rem;
  text-wrap: wrap;
}

.personal {
  display: grid;
  grid-template-columns: 1fr;
}

.personal label {
  margin-top: 0.5rem;
}
