.resume {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page {
  background-color: #fff;
  aspect-ratio: 1 / 1.41421356237;
  box-shadow: 2px 2px 5px 1px #ddd;
  padding: 1rem;
}

.banner {
  margin-inline: -1rem;
  padding-block: 5%;
  color: #fff;
  background-color: rgb(25, 70, 135);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon {
  position: relative;
}
.icon::before {
  position: absolute;
  width: 17px;
  right: calc(100% + 2px);
  top: 3px;
}

.email-icon::before {
  content: url("../assets/email-outline.svg");
}
.number-icon::before {
  content: url("../assets/phone.svg");
}
