* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100dvh;
  background-color: #eee;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

#root {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  flex-grow: 1;
  flex-basis: 30rem;
  border-right: solid 1px #999;
}

.resume {
  flex-grow: 1;
  flex-basis: 30rem;
  border-left: solid 1px #999;
}
